.reviews{
    padding-bottom: 70px;
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        padding-bottom: 48px;
        &:nth-child(2){
            margin-top: 70px;
        }
        border-bottom: 1px solid #f6f6f6;
        &:last-child{
            border-bottom: none;
        }
    }
    &__img{
        display: block;
        width: 169px;
        height: 169px;
    }
    &__content{
        margin-left: 62px;
        padding-right: 60px;
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle{
        margin-top: 14px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__desc{
        margin-top: 19px;
        font-size: 16px;
        font-weight: 500;
        color: #0d0d0d;
    }
}